<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static 'css/usuarios.css' %}"> -->
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<head>

<body>
    <form class="formulario">
        <h1>Registrate</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="bi bi-file-person-fill icon"></i>
                <input type="text" placeholder="Nombre Completo">
            </div>
            <div class="input-contenedor">
                <i class="bi bi-envelope-fill icon"></i>
                <input type="text" placeholder="Correo Electronico">
            </div>
            <div class="input-contenedor">
                <i class="bi bi-key-fill icon"></i>
                <input type="password" placeholder="Contraseña">
            </div>
            <input type="submit" value="Registrate" class="button">
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <p>¿Ya tienes una cuenta?<a class="link" href="usuarios.html"> Iniciar Sesion </a></p>
        </div>
</body>

</html>